.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 500px;
  padding: 10px;
}
.my-order-content {
  display: flex;
  flex-direction: column;
}
.my-order-items{
  overflow-y: scroll;
  height: 400px;
}
